@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333333;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}

/*菜单*/

#menu {
	position: fixed;
	right: 20px;
	top: 50%;
	width: 90px;
	margin-top: -160px;
	z-index: 2;
}

#menu li {
	margin-top: 10px;
	font: 14px "微软雅黑";
}

#menu a {
	display: block;
	padding: 10px 0;
	background-color: #fff;
	color: #0074EA;
	text-align: center;
}

#menu .active a {
	color: #fff;
	background-color: rgb(0, 116, 234);
}

.section {
	text-align: center;
	font: 18px "微软雅黑";
	color: #fff;
}


/*第一页*/

#fullpage .section:first-child {
	background-image: url(../img/bg2.jpg);
	background-size: cover;
}

.pageone {
	width: 1280px;
	height: 840px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.pageone span {
	position: absolute;
}

.pageone-1 {
	width: 79px;
	height: 75px;
	top: -455px;
	left: -501px;
	background-image: url(../img/shi1.png);
	z-index: 2;
	-webkit-transition: all 0.5s;
}

.active .pageone-1 {
	top: 270px;
	left: 430px;
	-webkit-transition: all 1s ease;
}

.pageone-2 {
	width: 276px;
	height: 140px;
	top: -359px;
	left: 1387px;
	background-image: url(../img/shi2.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-2 {
	top: 320px;
	left: 370px;
	-webkit-transition: all 1s ease;
}

.pageone-3 {
	width: 173px;
	height: 233px;
	top: -359px;
	left: -619px;
	background-image: url(../img/shi3.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-3 {
	top: 365px;
	left: 360px;
	-webkit-transition: all 1s ease;
}

.pageone-4 {
	width: 286px;
	height: 142px;
	top: -259px;
	left: -1398px;
	background-image: url(../img/shi4.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-4 {
	top: 465px;
	left: 380px;
	-webkit-transition: all 1s ease;
}

.pageone-5 {
	width: 92px;
	height: 90px;
	top: -589px;
	left: -327px;
	background-image: url(../img/ji1.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-5 {
	top: 130px;
	left: 680px;
	-webkit-transition: all 1s ease;
}

.pageone-6 {
	width: 127px;
	height: 234px;
	top: -487px;
	left: 1648px;
	background-image: url(../img/ji2.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-6 {
	top: 234px;
	left: 656px;
	-webkit-transition: all 1s ease;
}

.pageone-7 {
	width: 195px;
	height: 293px;
	top: -488px;
	left: -244px;
	background-image: url(../img/ji3.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-7 {
	top: 234px;
	left: 764px;
	-webkit-transition: all 1s ease;
}

.pageone-8 {
	width: 68px;
	height: 98px;
	top: -213px;
	left: 1686px;
	background-image: url(../img/2013-2.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-8 {
	top: 515px;
	left: 685px;
	-webkit-transition: all 1s ease;
}

.pageone-9 {
	width: 71px;
	height: 97px;
	top: -189px;
	left: -266px;
	background-image: url(../img/2013-0.png);
	z-index: 2;
	-webkit-transition: all 0.5s;
}

.active .pageone-9 {
	top: 535px;
	left: 735px;
	-webkit-transition: all 1s ease;
}

.pageone-10 {
	width: 40px;
	height: 99px;
	top: -210px;
	left: 1792px;
	background-image: url(../img/2013-1.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-10 {
	top: 515px;
	left: 800px;
	-webkit-transition: all 1s ease;
}

.pageone-11 {
	width: 66px;
	height: 97px;
	top: -207px;
	left: -173px;
	background-image: url(../img/2013-3.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-11 {
	top: 515px;
	left: 840px;
	-webkit-transition: all 1s ease;
}

.pageone-12 {
	width: 363px;
	height: 45px;
	top: -106px;
	left: 1462px;
	background-image: url(../img/slogen.png);
	-webkit-transition: all 0.5s;
}

.active .pageone-12 {
	top: 617px;
	left: 470px;
	-webkit-transition: all 1s ease;
}


/*第二页*/

#fullpage .section:nth-child(2) {
	background-image: url(../img/bg-kj_4d6c383.png);
	background-size: cover;
}

.pagetwo {
	width: 980px;
	height: 850px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.pagetwo a {
	color: #004b85;
	float: left;
	position: absolute;
	display: inline-block;
	white-space: nowrap
}

.pagetwo a:hover {
	color: #1c9cff;
}


.pagetwo-1 {
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 4px no-repeat;
	left: 0px;
	top: -350px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-1 {
	left: 0px;
	top: 7px;
	-webkit-transition: all 1s ease;
}

.pagetwo-2 {
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 -59px no-repeat;
	left: 0px;
	top: -350px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-2 {
	left: 0px;
	top: 37px;
	-webkit-transition: all 1s ease;
}
.pagetwo-3{
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 -59px no-repeat;
	left: 0px;
	top: -350px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-3 {
	left: 0px;
	top: 68px;
	-webkit-transition: all 1s ease;
}
.pagetwo-4{
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 -104px no-repeat;
	left: 0px;
	top: -350px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-4 {
	left: 0px;
	top:88px;
	-webkit-transition: all 1s ease;
}
.pagetwo-5{
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 -195px no-repeat;
	left: 1010px;
	top: 116px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-5 {
	left: 554px;
	top:116px;
	-webkit-transition: all 1s ease;
}
.pagetwo-6{
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 -267px no-repeat;
	left: 1010px;
	top: 146px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-6 {
	left: 554px;
	top:146px;
	-webkit-transition: all 1s ease;
}
.pagetwo-7{
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 -244px no-repeat;
	left: 1010px;
	top: 163px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-7 {
	left: 554px;
	top:163px;
	-webkit-transition: all 1s ease;
}
.pagetwo-8{
	padding-left: 37px;
	background: url(../img/num-keji.png) 0 -267px no-repeat;
	left: 1010px;
	top: 236px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-8 {
	left: 554px;
	top:236px;
	-webkit-transition: all 1s ease;
}

.pagetwo-9{
	padding-right: 37px;
	background: url(../img/num-keji.png) 78px -350px no-repeat;
	left: -710px;
	top: 346px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-9 {
	left: 290px;
	top:346px;
	-webkit-transition: all 1s ease;
}
.pagetwo-10{
	padding-right: 37px;
	background: url(../img/num-keji.png) 79px -431px no-repeat;
	left: -710px;
	top: 376px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-10{
	left: 290px;
	top:376px;
	-webkit-transition: all 1s ease;
}
.pagetwo-11{
	padding-right: 37px;
	background: url(../img/num-keji.png) 147px -502px no-repeat;
	left: -710px;
	top: 406px;
	-webkit-transition: all 0.5s;
/*	border: 1px solid red;*/
}

.active .pagetwo-11 {
	left: 224px;
	top:406px;
	-webkit-transition: all 1s ease;
}
.pagetwo-12{
	padding-right: 37px;
	background: url(../img/num-keji.png) 342px -481px no-repeat;
	left: -710px;
	top: 433px;
	-webkit-transition: all 0.5s;
	font-size: 48px;
/*	border: 1px solid red;*/
}

.active .pagetwo-12 {
	left: 30px;
	top:433px;
	-webkit-transition: all 1s ease;
}
.pagetwo-13{
	padding-left: 47px;
	background: url(../img/num-keji.png) 0 -573px no-repeat;
	left: 761px;
	top: 1050px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-13{
	left: 761px;
	top:506px;
	-webkit-transition: all 1s ease;
}
.pagetwo-14{
	padding-left: 47px;
	background: url(../img/num-keji.png) 0 -626px no-repeat;
	left: 761px;
	top: 1050px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-14{
	left: 761px;
	top:523px;
	-webkit-transition: all 1s ease;
}
.pagetwo-15{
	padding-left: 47px;
	background: url(../img/num-keji.png) 0 -646px no-repeat;
	left: 761px;
	top: 1050px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-15{
	left: 761px;
	top:587px;
	-webkit-transition: all 1s ease;
}
.pagetwo-16{
	padding-left: 47px;
	background: url(../img/num-keji.png) 0 -573px no-repeat;
	left: 761px;
	top: 1050px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-16{
	left: 761px;
	top:622px;
	-webkit-transition: all 1s ease;
}
.pagetwo-17{
	padding-left: 47px;
	background: url(../img/num-keji.png) 0 -732px no-repeat;
	left: 761px;
	top: 1050px;
	-webkit-transition: all 0.5s;
}

.active .pagetwo-17{
	left: 761px;
	top:656px;
	-webkit-transition: all 1s ease;
}
.img1{
	left: 0;
	top: -350px;
	-webkit-transition: all 0.5s;	
}
.active .img1{
	left: 0px;
	top:153px;
	-webkit-transition: all 1s ease;
}
.img2{
	left: 980px;
	top: 2px;
	-webkit-transition: all 0.5s;	
}
.active .img2{
	left: 220px;
	top:2px;
	-webkit-transition: all 1s ease;
}
.img3{
	left: -407px;
	top: 350px;
	-webkit-transition: all 0.5s;	
}
.active .img3{
	left: 413px;
	top:350px;
	-webkit-transition: all 1s ease;
}
.img4{
	left: 761px;
	top: 850px;
	-webkit-transition: all 0.5s;	
}
.active .img4{
	left: 761px;
	top:350px;
	-webkit-transition: all 1s ease;
}
/*第三页*/

#fullpage .section:nth-child(3) {
	background-image: url(../img/renwu-bg_c26f167.png);
	background-size: cover;
}

.pagethree {
	width: 980px;
	height: 850px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.pagethree a{
	color: #8a5e25; 
	float: left; 
	position: absolute;
	display: inline-block; 
	white-space: nowrap
}
.pagethree a:hover{
	color: #d58116;
}
.pagethree-1 {
	padding-right: 37px;
	background: url(../img/num-renwu.png) 61px 4px no-repeat;
	left: 90px;
	top: -180px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-1 {
	left: 90px;
	top: 68px;
	-webkit-transition: all 1s ease;
}
.pagethree-2 {
	padding-right: 37px;
	background: url(../img/num-renwu.png) 61px -103px no-repeat;
	left: 90px;
	top: -180px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-2 {
	left: 90px;
	top: 93px;
	-webkit-transition: all 1s ease;
}
.pagethree-3 {
	padding-right: 37px;
	background: url(../img/num-renwu.png) 151px -185px no-repeat;
	left: 0px;
	top: -180px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-3 {
	left: 0px;
	top: 113px;
	-webkit-transition: all 1s ease;
}
.pagethree-4 {
	padding-left: 37px;
	background: url(../img/num-renwu.png) 0px -312px no-repeat;
	left: 1280px;
	top: 203px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-4 {
	left: 235px;
	top: 203px;
	-webkit-transition: all 1s ease;
}
.pagethree-5 {
	padding-left: 37px;
	background: url(../img/num-renwu.png) 0px -404px no-repeat;
	left: 1280px;
	top: 227px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-5 {
	left: 235px;
	top: 227px;
	-webkit-transition: all 1s ease;
}
.pagethree-6 {
	padding-left: 37px;
	background: url(../img/num-renwu.png) 0px -426px no-repeat;
	left: 1080px;
	top: 290px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-6{
	left: 235px;
	top: 290px;
	-webkit-transition: all 1s ease;
}
.pagethree-7 {
	padding-left: 37px;
	background: url(../img/num-renwu.png) 0px -404px no-repeat;
	left: -300px;
	top: 317px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-7 {
	left: 100px;
	top: 317px;
	-webkit-transition: all 1s ease;
}
.pagethree-8 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -762px no-repeat;
	left: -300px;
	top: 533px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-8 {
	left: 149px;
	top: 533px;
	-webkit-transition: all 1s ease;
}
.pagethree-9 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -901px no-repeat;
	left:-300px;
	top: 533px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-9 {
	left: 149px;
	top: 563px;
	-webkit-transition: all 1s ease;
}
.pagethree-10 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -1043px no-repeat;
	left: -300px;
	top: 533px;
	-webkit-transition: all 0.5s;
}

.active .pagethree-10 {
	left: 149px;
	top: 593px;
	-webkit-transition: all 1s ease;
}
.pagethree-11 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -520px no-repeat;
	left: 1370px;
	top: 383px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagethree-11 {
	left: 786px;
	top: 383px;
	-webkit-transition: all 1s ease;
}
.pagethree-12 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -648px no-repeat;
	left: 1370px;
	top: 450px;
	-webkit-transition: all 0.5s;
}
.active .pagethree-12 {
	left: 786px;
	top: 450px;
	-webkit-transition: all 1s ease;
}
.pagethree-13 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -648px no-repeat;
	left: 1370px;
	top: 480px;
	-webkit-transition: all 0.5s;
}
.active .pagethree-13 {
	left: 786px;
	top: 480px;
	-webkit-transition: all 1s ease;
}
.pagethree-14 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -1185px no-repeat;
	left: 1370px;
	top: 510px;
	-webkit-transition: all 0.5s;
}
.active .pagethree-14 {
	left: 786px;
	top: 510px;
	-webkit-transition: all 1s ease;
}
.pagethree-15 {
	padding-left: 47px;
	background: url(../img/num-renwu.png) 0px -1185px no-repeat;
	left: 1370px;
	top: 540px;
	-webkit-transition: all 0.5s;
}
.active .pagethree-15 {
	left: 786px;
	top: 540px;
	-webkit-transition: all 1s ease;
}
.guomu{
	left: 200px;
	top: -180px;
	-webkit-transition: all 0.5s;	
}
.active .guomu{
	left: 200px;
	top: 10px;
	-webkit-transition: all 1s ease;
}
.zhuli{
	left: 980px;
	top: 77px;
	-webkit-transition: all 0.5s;	
}
.active .zhuli{
	left: 600px;
	top: 77px;
	-webkit-transition: all 1s ease;
}
.xiaohuangren{
	left: 980px;
	top: 366px;
	-webkit-transition: all 0.5s;	
}
.active .xiaohuangren{
	left:290px;
	top: 366px;
	-webkit-transition: all 1s ease;
}
.sinuodeng{
	left: -300px;
	top: 387px;
	-webkit-transition: all 0.5s;	
}
.active .sinuodeng{
	left:149px;
	top: 387px;
	-webkit-transition: all 1s ease;
}

/*第四页*/

#fullpage .section:nth-child(4) {
	background-image: url(../img/bj-so_ff09f3c.png);
	background-size: cover;
	overflow: hidden;
}

.pagefour {
	width: 980px;
	height: 850px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.pagefour a{
	 color: #535353; 
	 float: left; 
	 position: absolute; 
	 display: inline-block; 
	 white-space: nowrap
}
.pagefour a:hover{
	color: #bababa ;
}
.wumai{
	left: 156px;
	top: -175px;
	-webkit-transition: all 0.5s;	
}
.active .wumai{
	left: 156px;
	top: 10px;
	-webkit-transition: all 1s ease;	
}
.dama{
	left: -405px;
	top: 186px;
	-webkit-transition: all 0.5s;	
}
.active .dama{
	left: 155px;
	top: 186px;
	-webkit-transition: all 1s ease;	
}
.da{
	left: 980px;
	top: 186px;
	-webkit-transition: all 0.5s;	
}
.active .da{
	left: 675px;
	top: 186px;
	-webkit-transition: all 1s ease;	
}
.hengda{
	left: 507px;
	top: 850px;
	-webkit-transition: all 0.5s;	
}
.active .hengda{
	left: 507px;
	top: 494px;
	-webkit-transition: all 1s ease;	
}
.pagefour-1 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px 22px no-repeat;
	left: 450px;
	top: -175px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-1 {
	left: 450px;
	top: 51px;
	-webkit-transition: all 1s ease;
}
.pagefour-2 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -118px no-repeat;
	left: 450px;
	top: -175px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-2 {
	left: 450px;
	top: 110px;
	-webkit-transition: all 1s ease;
}
.pagefour-3 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -118px no-repeat;
	left: 450px;
	top: -175px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-3 {
	left: 450px;
	top: 140px;
	-webkit-transition: all 1s ease;
}
.pagefour-4 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -595px no-repeat;
	left: 980px;
	top: 228px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-4 {
	left: 450px;
	top: 228px;
	-webkit-transition: all 1s ease;
}
.pagefour-5 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -595px no-repeat;
	left: 980px;
	top: 258px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-5 {
	left: 450px;
	top: 258px;
	-webkit-transition: all 1s ease;
}
.pagefour-6 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -1002px no-repeat;
	left: 980px;
	top: 288px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-6 {
	left: 450px;
	top: 288px;
	-webkit-transition: all 1s ease;
}
.pagefour-7 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -723px no-repeat;
	left: 980px;
	top: 340px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-7{
	left: 450px;
	top: 340px;
	-webkit-transition: all 1s ease;
}
.pagefour-8 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -697px no-repeat;
	left: 980px;
	top: 363px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-8{
	left: 450px;
	top: 363px;
	-webkit-transition: all 1s ease;
}
.pagefour-9 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -723px no-repeat;
	left: 980px;
	top: 428px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-9{
	left: 450px;
	top: 428px;
	-webkit-transition: all 1s ease;
}
.pagefour-10 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -206px no-repeat;
	left: -405px;
	top: 369px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-10{
	left: 162px;
	top: 369px;
	-webkit-transition: all 1s ease;
}
.pagefour-11 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -344px no-repeat;
	left: -405px;
	top: 434px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-11{
	left: 162px;
	top: 434px;
	-webkit-transition: all 1s ease;
}
.pagefour-12 {
	padding-left: 47px;
	background: url(../img/num-shehui.png) 0px -471px no-repeat;
	left: -405px;
	top: 464px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-12{
	left: 162px;
	top: 464px;
	-webkit-transition: all 1s ease;
}
.pagefour-13 {
	padding-right: 47px;
	background: url(../img/num-shehui.png)  438px -859px no-repeat;
	left: 15px;
	top: 850px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-13{
	left: 15px;
	top: 520px;
	-webkit-transition: all 1s ease;
}
.pagefour-14 {
	padding-right: 47px;
	background: url(../img/num-shehui.png) 78px -879px no-repeat;
	left: 376px;
	top: 1050px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-14{
	left: 376px;
	top: 585px;
	-webkit-transition: all 1s ease;
}
.pagefour-15 {
	padding-right: 47px;
	background: url(../img/num-shehui.png) 97px -879px no-repeat;
	left: 376px;
	top: 1050px;
	-webkit-transition: all 0.5s;
}
.active .pagefour-15{
	left: 357px;
	top: 612px;
	-webkit-transition: all 1s ease;
}

/*第五页*/

#fullpage .section:nth-child(5) {
	background-image: url(../img/bj-net_3cad4e6.png);
	background-size: cover;
}

.pagefive {
	width: 980px;
	height: 850px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.pagefive a{
	color: #00a0e9; 
	float: left; 
	position: absolute; 
	display: inline-block; 
	white-space: nowrap
}
.pagefive a:hover{
	color: #054b6b ;
}

.netimg1{
	left: 139px;
	top: -240px;
	-webkit-transition: all 0.5s;	
}
.active .netimg1{
	left: 139px;
	top: 57px;
	-webkit-transition: all 1s ease;	
}
.netimg2{
	left: 980px;
	top: 96px;
	-webkit-transition: all 0.5s;	
}
.active .netimg2{
	left: 809px;
	top: 96px;
	-webkit-transition: all 1s ease;	
}
.netimg3{
	left: -435px;
	top: 431px;
	-webkit-transition: all 0.5s;	
}
.active .netimg3{
	left:179px;
	top: 431px;
	-webkit-transition: all 1s ease;	
}
.netimg4{
	left: 451px;
	top: 850px;
	-webkit-transition: all 0.5s;	
}
.active .netimg4{
	left:451px;
	top: 267px;
	-webkit-transition: all 1s ease;	
}

.pagefive-1 {
	padding-right: 37px;
	background: url(../img/num-net.png)  61px 4px no-repeat;
	left: 19px;
	top: -240px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-1{
	left: 19px;
	top: 56px;
	-webkit-transition: all 1s ease;
}
.pagefive-2 {
	padding-right: 37px;
	background: url(../img/num-net.png) 78px -101px no-repeat;
	left: 0px;
	top: -240px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-2{
	left: 0px;
	top: 86px;
	-webkit-transition: all 1s ease;
}
.pagefive-3 {
	padding-right: 37px;
	background: url(../img/num-net.png) 78px -101px no-repeat;
	left: 0px;
	top: -240px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-3{
	left: 0px;
	top: 116px;
	-webkit-transition: all 1s ease;
}
.pagefive-4 {
	padding-right: 37px;
	background: url(../img/num-net.png) 59px -101px no-repeat;
	left: 19px;
	top: -240px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-4{
	left: 19px;
	top: 146px;
	-webkit-transition: all 1s ease;
}
.pagefive-5 {
	padding-right: 37px;
	background: url(../img/num-net.png) 133px -198px no-repeat;
	left: -54px;
	top: -240px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-5{
	left: -54px;
	top: 176px;
	-webkit-transition: all 1s ease;
}
.pagefive-6 {
	padding-right: 37px;
	background: url(../img/num-net.png) 111px -198px no-repeat;
	left: -32px;
	top: -240px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-6{
	left: -32px;
	top: 206px;
	-webkit-transition: all 1s ease;
}
.pagefive-7 {
	padding-left: 37px;
	background: url(../img/num-net.png) 0 -316px no-repeat;
	left: 980px;
	top: -1px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-7{
	left: 449px;
	top: -1px;
	-webkit-transition: all 1s ease;
}
.pagefive-8 {
	padding-left: 37px;
	background: url(../img/num-net.png) 0 -439px no-repeat;
	left: 980px;
	top: 28px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-8{
	left: 449px;
	top: 28px;
	-webkit-transition: all 1s ease;
}
.pagefive-9 {
	padding-left: 37px;
	background: url(../img/num-net.png)  0 -420px no-repeat;
	left: 980px;
	top: 50px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-9{
	left: 449px;
	top: 50px;
	-webkit-transition: all 1s ease;
}
.pagefive-10 {
	padding-left: 37px;
	background: url(../img/num-net.png)  0 -439px no-repeat;
	left: 980px;
	top: 116px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-10{
	left: 449px;
	top: 116px;
	-webkit-transition: all 1s ease;
}
.pagefive-11 {
	padding-left: 37px;
	background: url(../img/num-net.png)  0 -439px no-repeat;
	left: 980px;
	top: 146px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-11{
	left: 449px;
	top: 146px;
	-webkit-transition: all 1s ease;
}
.pagefive-12 {
	padding-left: 37px;
	background: url(../img/num-net.png) 0 -566px no-repeat;
	left: 980px;
	top: 184px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-12{
	left: 449px;
	top: 184px;
	-webkit-transition: all 1s ease;
}
.pagefive-13{
	padding-right: 37px;
	background: url(../img/num-net.png) 132px -708px no-repeat;
	left: -435px;
	top: 261px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-13{
	left: 265px;
	top: 261px;
	-webkit-transition: all 1s ease;
}
.pagefive-14{
	padding-right: 37px;
	background: url(../img/num-net.png) 294px -831px no-repeat;
	left: -435px;
	top: 291px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-14{
	left: 103px;
	top: 291px;
	-webkit-transition: all 1s ease;
}
.pagefive-15{
	padding-right: 37px;
	background: url(../img/num-net.png) 390px -831px no-repeat;
	left: -435px;
	top: 351px;
	font-size: 48px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-15{
	left: 8px;
	top:351px;
	-webkit-transition: all 1s ease;
}
.pagefive-16{
	padding-right: 37px;
	background: url(../img/num-net.png)  60px -851px no-repeat;
	left: -435px;
	top: 428px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-16{
	left: 63px;
	top:428px;
	-webkit-transition: all 1s ease;
}
.pagefive-17{
	padding-right: 37px;
	background: url(../img/num-net.png)  60px -851px no-repeat;
	left: -435px;
	top: 458px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-17{
	left: 63px;
	top:458px;
	-webkit-transition: all 1s ease;
}
.pagefive-18{
	padding-left: 50px;
	background: url(../img/num-net.png)   2px -963px no-repeat;
	left: 449px;
	top: 1140px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-18{
	left: 449px;
	top: 578px;
	-webkit-transition: all 1s ease;
}
.pagefive-19{
	padding-left: 50px;
	background: url(../img/num-net.png)   2px -1079px no-repeat;
	left: 449px;
	top: 1140px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-19{
	left: 449px;
	top: 608px;
	-webkit-transition: all 1s ease;
}
.pagefive-20{
	padding-left: 50px;
	background: url(../img/num-net.png)   2px -1079px no-repeat;
	left: 449px;
	top: 1140px;
	-webkit-transition: all 0.5s;
}
.active .pagefive-20{
	left: 449px;
	top: 638px;
	-webkit-transition: all 1s ease;
}

/*第六页*/

#fullpage .section:last-child {
	background-color: #F9F3DC;
}

.pagesix {
	text-align: left;
}
.cooperation{
	width: 880px; 
	height: 273px; 
	margin: 0 auto;
}
.pagesix h2{
	position: relative;
	left: 28px; 
	width: 880px; 
	margin: 0 auto 20px; 
	font: 500 30px "微软雅黑"; 
	color: #856B37;
}
.cooperation a{
	display: none; 
	float: left; 
	margin: 0 0 10px 28px;
}
.foot { 
	margin-top: 100px; 
	line-height: 30px; 
	color: #666; 
	font-size: 12px; 
	text-align: center;
}
.foot a {
	color: #0074EA;
}
