@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a img{
	border: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}


/*第一页 start*/
#fullpage .s1{
	background-image: url(../img/o_1bt78mn9sbpr1c86105nqqnub111.gif);
	background-position: center;
	background-size: cover;
	position: relative;
}
#fullpage .section{
	overflow: hidden;
}
.s1 .text1{
	position: absolute;
	width: 2.64rem;
	height: 1.98rem;
	left: 0.1rem;
	top: -0.8rem;
	-webkit-transition: all 0.3s linear;
}
.active.s1 .text1{
	top: -0.15rem;
}
.s1 .text2{
	position: absolute;
	width: 2.13rem;
	height: 0.83rem;
	left: 0.6rem;
	bottom: 0.6rem;
}
.s1 .text3{
	position: absolute;
	width: 0.7rem;
	height: 0.24rem;
	left: 1.2rem;
	bottom: 2rem;
	-webkit-transition: all 0.3s ease;
}
.active.s1 .text3{
	bottom: 0.8rem;
	-webkit-animation: bounce 0.4s 0.3s;
}

/*第二页 start*/
.s2{
	background-image: url(../img/o_1bt23us91pt31vv1mc01n29oabs.jpg);
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.s2 h1{
	font: 0.6rem "微软雅黑";
	color: #f6db05;
	margin: 0;
	position: absolute;
	display: none;
}
.s2 h1.text1,.s2 h1.text6{
	width: 0.5rem;
	left: 1.3rem;
	top:2rem;
}
.s2 h1.text2,.s2 h1.text3,.s2 h1.text4,.s2 h1.text5{
	/*display: block;*/
	width: 100%;
	text-align: center;
	top:2rem;
}

/*第三页 start*/
.s3{
	background-image: url(../img/o_1bt23us91pt31vv1mc01n29oabs.jpg);
	background-position: center;
	background-size: cover;
}
.s3 div{
	position: absolute;
}
.s3 h1{
	font-size: 0.25rem;
	width: inherit;
	margin: 0;
	position: absolute;
	text-align: center;
}
.s3 .text1{
	width: 1.8rem;
	height: 0.95rem;
	left: 0.76rem;
	top: -2rem;
	text-align: center;
	-webkit-transition: top 0.3s linear;
	
}
.active.s3 .text1{
	top: 0.06rem;
	-webkit-transition: top 0.3s 0.3s ease;
}
.s3 .text2{
	width: 1.17rem;
	height: 1.17rem;
	left: 0.36rem;
	top: -2rem;
	-webkit-transition: top 0.7s linear;
	
}
.active.s3 .text2{
	top: 1.04rem;
	-webkit-transition: top 0.6s 0.7s ease;
}

.s3 .text2 h1{
	top: -4rem;
	-webkit-transition: top 0.9s  ease;
}
.active.s3 .text2 h1{
	top: 0.26rem;
	-webkit-transition: top 0.7s 0.9s ease;
}




.s3 .text3{
	width: 1.17rem;
	height: 1.17rem;
	left: 1.79rem;
	top: -2rem;
	-webkit-transition: top 1.1s  ease;	
}
.active.s3 .text3{
	top: 1.4rem;
	-webkit-transition: top 0.8s 1.1s  ease;
}
.s3 .text3 h1{
	top: -4rem;
	-webkit-transition: top 1.3s  ease;
}
.active.s3 .text3 h1{
	top: 0.26rem;
	-webkit-transition: top 0.9s 1.3s ease;
}
.s3 .text4{
	width: 1.17rem;
	height: 1.17rem;
	left: 1.04rem;
	top: -2rem;
	-webkit-transition: top 1.5s  ease;		
}
.active.s3 .text4{
	top: 2.15rem;
	-webkit-transition: top 1s 1.5s  ease;
}
.s3 .text4 h1{
	top: -4rem;
	-webkit-transition: top 1.7s  ease;
}
.active.s3 .text4 h1{
	top: 0.26rem;
	-webkit-transition: top 1.1s 1.7s ease;
}
.s3 .text5{
	width: 1.17rem;
	height: 1.17rem;
	left: 0.26rem;
	top: -2rem;
	-webkit-transition: top 1.9s  ease;	
}
.active.s3 .text5{
	top: 3.07rem;
	-webkit-transition: top 1.2s 1.9s ease;
}
.s3 .text5 h1{
	top: -4rem;
	-webkit-transition: top 2.1s  ease;
}
.active.s3 .text5 h1{
	top: 0.26rem;
	-webkit-transition: top 1.3s 2.1s ease;
}

.s3 .text6{
	width: 1.17rem;
	height: 1.17rem;
	left: 1.79rem;
	top: -2rem;
	-webkit-transition: top 2.3s  ease;		
}
.active.s3 .text6{
	top: 3.1rem;
	-webkit-transition: top 1.4s 2.3s ease;
}
.s3 .text6 h1{
	top: -4rem;
	-webkit-transition: top 2.5s  ease;
}
.active.s3 .text6 h1{
	top: 0.26rem;
	-webkit-transition: top 1.5s 2.5s ease;
}
.s3 .text1 h1{
	height: 0.7rem;
	top: -2rem;
	left: 0rem;
	-webkit-transition: top 0.5s linear;
	
}
.active.s3 .text1 h1{
	top: 0.5rem;
	-webkit-transition: top 0.4s 0.5s linear;
	
}
.s3 div[class^='text']:not(.text1)>h1{
	width: 0.5rem;
	font-size: 0.22rem;
	left: 0.22rem;
	/*top: 0.26rem;*/
}
